# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs & databases
*.log
*.sqlite3

# IDE / editor settings
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db
